/* AppStyles.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #393e46; /* Set your preferred background color */
}

.textBox {
  margin: 0 auto;
  border: 2px solid #f96d00; /* Set your preferred border style and color */
  padding: 20px;
  text-align: center;
  border-radius: 8px; /* Set your preferred border radius */
}

.text {
  margin: 0;
  font-size: 18px; /* Set your preferred font size */
  color: #f2f2f2; /* Set your preferred text color */
}